body {
  background-image: ('/wallpaper/bg.JPG');
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover;
}

@media (max-width: 600px) {
  
  .content {
    flex-direction: column;
  }

  img {
    max-width: 100%;
  }

}
