@font-face {
	font-family: 'HarmonyOS_Sans';
	src: url('/sans/HarmonyOS_Sans_SC_Medium.eot');
	src: url('/sans/HarmonyOS_Sans_SC_Medium.eto') format('embedded-opentype'), 
		 url('/sans/HarmonyOS_Sans_SC_Medium.woff') format('woff'), 
		 url('/sans/HarmonyOS_Sans_SC_Medium.ttf') format('truetype'), 
		 url('/sans/HarmonyOS_Sans_SC_Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
  }

* {
    box-sizing: border-box;
    outline: 0;
    box-sizing: border-box;
}


html {
    height: 100%
}

body {
    font-family: "HarmonyOS_Sans", sans-serif;
    /*background:url(https://w.wallhaven.cc/full/nr/wallhaven-nrd5pw.jpg) no-repeat;*/
	/*background:url(/wallpaper/wallpaper.webp) no-repeat;*/
    /* background:url(https://cheongszesuen.ml/wallpaper/wallpaper.webp) no-repeat; */
    /*background:url(http://tool.liumingye.cn/bingimg/img.php) no-repeat;*/
    /*background:url(http://47.111.254.61:8000/bingWp) no-repeat;*/
    background:url("/wallpaper/wallpaper.webp") no-repeat;
    /*background:url(https://api.leafone.cn/api/bing) no-repeat;*/
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
#bodyBox {
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    object-fit: cover;
    z-index: -2;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%；
}
#bgBox{
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    /* filter: blur(5px); */
    /* object-fit: cover; */
}

i {
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0;
    -moz-osx-font-smoothing: grayscale
}

a {
    text-decoration: none;
    transition: .25s
}

a.link {
    color: var(--theme-color);
    border-bottom: 1px solid transparent
}

a.link:hover {
    border-color: var(--theme-color)
}

a.link:active {
    border-color: var(--theme-color-active);
    color: var(--theme-color-active)
}

p {
    transition: .25s;
    font-family: "HarmonyOS_Sans", sans-serif;
}

#main{
width: 100%;
height:auto;
} 

#topTitle {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center
}

#about,#log {
    background-color: white;
}

.tagBox {
    position: relative;
    margin-top: 60px;
    width: 100%;
    font-size: small
}

.tagBox span {
    margin: 0 3px;
    padding: 8px 15px;
    border-radius: 10px;
    background-color: grey;
    color: black;
    transition: .25s
}

.tagBox span:hover {
    background-color: white;
    color: black;
    -webkit-box-shadow: rgba(0,0,0,.1) 0 5px 10px;
    -moz-box-shadow: rgba(0,0,0,.1) 0 5px 10px;
    box-shadow: rgba(0,0,0,.1) 0 5px 10px
}

.aboutContent {
    position: relative;
    margin-top: 35px;
    width: 100%;
    color: black;
    font-size: 14px
}

.underline {
    position: absolute;
    left: calc(50% - 35px);
    margin-top: -30px;
    width: 70px;
    height: 4px;
    background-color: #91b0b7;
    border-radius:20px;
}

.underline1 {
    position: absolute;
    left: calc(50% - 25px);
    margin-top: -10px;
    width: 50px;
    height: 3px;
    background-color: black;
    border-radius: 20px;

}

h1 {
  font-weight: 400;
  font-family: "HarmonyOS_Sans", sans-serif;
  font-size: 80px;
  color: #e0d3bc
}

h2 {
  font-weight: 400;
  font-family: "HarmonyOS_Sans", sans-serif;
  font-size: 15px;
  color: #e0d3bc
}

h2 span {
  color: rgba(255,255,255,.6)
}

h3 {
  font-family: "HarmonyOS_Sans", sans-serif;
  font-size: 30px;
  color: var(--txt-b-pure);
  transition: .25s
}

h4 {
  font-family: "HarmonyOS_Sans", sans-serif;
  color: var(--txt-b-pure);
  font-size: 28px
}

h5 {
  font-family: "HarmonyOS_Sans", sans-serif;
  color: var(--txt-b-pure);
  font-size: 24px;
  text-align: center
}

#about,#log,#work,footer {
    position: relative;
    top: 100%;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
    transition: .25s
}

#footer{    
    width: 100%;
    height:100px;   /* footer的高度一定要是固定值*/ 
    position:absolute;
    bottom:0px;
    left:0px;
    background: wheat;
}

#footer p{
    font-family: "HarmonyOS_Sans", sans-serif;
    font-size: 5px;
    font-weight: 700;
    line-height: 10px;
    color: #fff;
}

#footer a{
    font-family: "HarmonyOS_Sans", sans-serif;
    position: relative;
    border-bottom: 1px solid transparent;
    color: black;
    cursor: pointer;
    font-size: 12px;
}

#footer a:hover {
    border-color: none;
    color: black;
}

#copyright p {
    font-size: 12px;
    font-weight: initial;
}

div ::-webkit-scrollbar {
    width: 5px;
}

div ::-webkit-scrollbar-thumb {
    background-color: var(--b-alpha-10);
    border-radius: 3px;
}

div ::-webkit-scrollbar-thumb:hover {
    background-color: var(--b-alpha-20)
}

div ::-webkit-scrollbar-thumb:active {
    background-color: var(--theme-color)
}

.red {
    color: #dc1e1e!important
}

.rightAligned {
    text-align: right;
}

#toPirates {
    display: none
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "HarmonyOS_Sans", sans-serif;
    font-size: 50%;
    backdrop-filter: blur(50px);
    position: -webkit-sticky;
    position: sticky;
    top:0;
    border-radius: 0px 0px 20px 20px;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    border-radius: 20px;
  }
  
  li a:hover {
    background-color:#839ba5;
  }
  
  .active {
    background-color:#42617e;
    border-radius: 20px;
  }
  
  li.right {
      float: right;
      }
  
  @media screen and (max-width: 350px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }
      
  .footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-family: "HarmonyOS_Sans", sans-serif;
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-family: "HarmonyOS_Sans", sans-serif;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("/images/index/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  